.section{
  min-height: 100dvh;
  max-width: 1200px;
  display: grid;
  place-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:5rem; 
}

.title{
  text-align: center;
  font-size: 3rem;
}

.container{ 
  display: flex;
  flex-direction: column;
  gap:3.5rem;
  font-size: 1.25rem;
}

.container a:visited {
  color: currentColor;
}

.container a {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #1d90fc, #0cfca7);
  -webkit-background-clip: text;
  font-weight: 700;
}

.container p {
  line-height: 1.75rem;
}

@media (max-width: 768px) {
  .section{
    gap:1.5rem
  }

  .title{
    padding-top: 7rem;
    font-size: 2.5rem;
  }
  .container{
    font-size: 1rem;
    text-wrap: balance;
    gap:1.5rem
  }
}